   body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        font-family:'Open Sans Condensed', sans-serif;
        height:50px;
        width:400px;
        bottom:360px;
        right:200px;
        font-size:30px;
        text-align:center;
        justify-content: center;
      } 
      
       div[class*=box] {
        height: 33.33%;
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-align-last:justify;
      } 
      
.logo{
  margin-left: -100%;
}

    .btn {
      line-height: 100px;
      height: 100px;
      text-align: center;
      width: 500px;
      cursor: pointer;
    }
    
    #allthethings {
      width:0px;
      height:0px;
      border-left: 300px solid transparent;
      border-right:300px solid transparent;
      border-top: 300px solid transparent;
      border-radius: px;
      position:relative;
      margin:0 auto;
      top:5px;
      left:2px;
    }
    
    /* 
    ========================
          the button
    ========================
    */
    .btn {
      color: #FFF;
      transition: all 0.5s;
      position: relative; 
      text-align:center;
    }
    .btn span {
      z-index: 2; 
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; 
      text-align:center;
    }
    .btn::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.5s;
      border: 1px solid rgba(255,255,255,0.2);
      background-color: rgba(255,255,255,0.1);
    }
    .btn::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.5s;
      border: 1px solid rgba(255,255,255,0.2);
      background-color: rgba(255,255,255,0.1);
    }
    .btn:hover::before {
      transform: rotate(-45deg);
      background-color: rgba(255,255,255,0);
    }
    .btn:hover::after {
      transform: rotate(45deg);
      background-color: rgba(255,255,255,0);
    }
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #000;
        
    }
    
    .glow-on-hover {
        width: 220px;
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        right: 3cm;

      
        z-index: 0;
        border-radius: 10px;
       
        
    }
    
    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    
    .glow-on-hover:active {
        color: #000
    }
    
    .glow-on-hover:active:after {
        background: transparent;
    }
    
    .glow-on-hover:hover:before {
        opacity: 1;
    }
    
    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
  }


/* ANIMATIONS */

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes floatUp {
  0% {
    top: 1000px;
  }
  100% {
    top: -1000px;
  }
}



@keyframes pop {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1,1);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2,2);
    filter: blur(20px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  55% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(31px);
  }
  30% {
    transform: translateX(120px);
  }
  50% {
    transform: translateX(92px);
  }
  80% {
    transform: translateX(19px);
  }
  100% {
    transform: translateX(0);
  }
}

/* GAME STYLES */


/* SCOREBOARD */
/* 
.top-bar {
  align-items: center;
  background: #333;
  border-bottom: 1px solid #000;
  box-shadow: 1px 1px 10px #000;
  color: #ccc;
  display: flex;
  font-size: 150%;
  font-weight: 500;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  position: relative;
  top: 0;
  transition: all 500ms ease-in-out;
  z-index: 1;
}

.top-bar.hide {
  top: -50px;
} */

/* .heart-containers {
  color: rgba(210, 40, 55, 0.75);
  font-size: 75%;
  font-weight: 300;
  text-shadow: 1px 1px 3px #333;
} */

.blink {
  animation: lowlife 750ms ease-in-out infinite;
  backface-visibility: hidden;
}

/* DIALOGUE SCREENS */

.dialogue {
   align-self: center; 
  animation: bounceIn 800ms ease-in-out 1;
    /* background: rgb(225, 225, 225);  */
   border-radius: 10px; 
   bottom: 50%; 
    /* box-shadow: 1px 1px 1rem #000;   */
   display: flex; 
   flex-direction: column; 
   max-width: 15%; 
   min-width: 10px; 
   min-height: 25%; 
   opacity: 1;
    padding: 2rem 1rem;   
   align-items: center;
   
   position: absolute; 
   top: 60%; 
   text-align: center;
     margin: auto;  
   
}

.dialogue.hide {
  animation: bounceOut 800ms ease-in-out 1;
  opacity: 0;
}

.dialogue h1 {
  color: rgb(255, 255, 255);
  display: block;
  font-family: 'Lobster', cursive; 
   font-size: 3rem;
   

  margin: 0; 
  text-shadow: 1px 1px 10px rgb(6, 26, 116);
}

.dialogue p {
  padding: 1.5rem 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

#start-screen {
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
}

#start-screen p, #gameover-screen p {
   margin: 0 auto;  
   /* background-color: lightblue;  */
}

